body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

#game-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#board {
    display: grid;
    gap: 10px;
}

.level1 #board {
    grid-template-columns: repeat(3, 1fr);
}

.level2 #board {
    grid-template-columns: repeat(4, 1fr);
}

.level3 #board {
    grid-template-columns: repeat(6, 1fr);
}

.card {
    width: 80px;
    height: 80px;
    background-color: black; /* Black for face-dwon */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.card.flipped {
    background-color: grey; /* Grey when flipped */
}

